{% extends "layout.html" %}

{% block title %}
    Play
{% endblock %}

{% block body %}

    <!-- When I want to make multiple games playable at once (more than one room)
    I can do something like this either on this template or on index.html -->
    <!-- <div id="rooms-list">
        <h4>ROOMS</h4>
        {% for room in rooms %}
            <p class="select-room">{{ room }}</p>
        {% endfor %}
    </div> -->
    <div id="info-bar">


    </div>
    <div id="table">
        <div id="seats">
            <script> // store info on front end so I can send player info back to server
                const client = {{ player | tojson }};
            </script>
            <!-- <p id="player_username">{{ player.username }}</p> -->

        </div>
        <div id="middle">
            <div id="river">


            </div>
            <div id="pot">


            </div>
        </div>
    </div>
    <div class="inputs" id="bet-slider-div">
        <label for="bet-slider" class="form-label">Bet size: $<span id="slider-value"></span></label>
        <input type="range" class="form-range" min="0" max="{{ player.cash }}" step="0.01" value="0" id="bet-slider">
    </div>
    <div class="inputs" id="quit-button">
        <button id="quit" type="button">Quit</button>
    </div>
    <div class="inputs" id="action-buttons">
        <button id="fold" type="button">Fold</button>
        <button id="check-or-call" type="button">Check/Call</button>
        <button id="bet-or-raise" type="button">Bet/Raise</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="static/scripts/socketio.js"></script>
{% endblock %}